<beans 	xmlns= "http://www.springframework.org/schema/beans"
		xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context = "http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-3.0.xsd" >
		
	<!-- Scans the package and creates object of all classes inside the package-->
	<context:component-scan base-package = "com.rohan.car"/>
	
	<!-- Activates all annotations like @autowired @qualifier -->
	<context:annotation-config/> 
	
	<!-- Engine class has primitive type attribute so we need to manually create the class -->
	<bean id = "e" class = "com.rohan.engine.Engine">
		<property name = "year" value = "1994"/>
	</bean>
					
</beans>


